Repository jovandyaz/collaborative_notes_app: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-code, format-other

lefthook.yml:

# Lefthook configuration - faster alternative to Husky + lint-staged
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: npx eslint --fix --no-warn-ignored {staged_files} && git add {staged_files}
      stage_fixed: true
    format-code:
      glob: '*.{ts,tsx}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    format-other:
      glob: '*.{json,md,yaml,yml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
    typecheck:
      run: npx tsc --noEmit
      skip:
        - merge
        - rebase

pre-push:
  commands:
    test:
      run: npx nx affected -t test --base=origin/main --head=HEAD
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    conventional:
      # Validate conventional commit format
      run: |
        message=$(cat {1})
        if ! echo "$message" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "Error: Commit message must follow Conventional Commits format"
          echo "Example: feat(auth): add login functionality"
          exit 1
        fi

chore: add docker and root configuration
  .gitignore
  .prettierrc
  CLAUDE.md
  Makefile
  README.md
  docker-compose.yml
  eslint.config.js
  knip.config.ts
  nx.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  railway.toml
  tsconfig.base.json
  vitest.workspace.ts
Due: lint, format-code, format-other

chore: cleanup deprecated husky and lint-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

feat(shared-types): add type definitions
  libs/shared/types/eslint.config.mjs
  libs/shared/types/project.json
  libs/shared/types/src/index.ts
  libs/shared/types/src/lib/api.types.ts
  libs/shared/types/src/lib/auth.types.ts
  libs/shared/types/src/lib/collaboration.types.ts
  libs/shared/types/src/lib/note.types.ts
  libs/shared/types/src/lib/user.types.ts
  libs/shared/types/tsconfig.json
  libs/shared/types/tsconfig.lib.json
Due: lint, format-code, format-other

feat(shared-util): add utility functions
  libs/shared/util/src/generateId.test.ts
Due: lint, format-code

feat(shared-hooks): update shared react hooks
  libs/shared/hooks/src/index.ts
  libs/shared/hooks/src/useLocalStorage.ts
  libs/shared/hooks/tsconfig.lib.json
Due: lint, format-code, format-other

feat(design-system): add ui components
  libs/design-system/.storybook/main.ts
  libs/design-system/src/components/Badge.tsx
  libs/design-system/src/components/Dialog.tsx
  libs/design-system/src/components/EmptyState.tsx
  libs/design-system/src/components/ErrorState.tsx
  libs/design-system/src/components/LoadingState.tsx
  libs/design-system/src/components/index.ts
  libs/design-system/src/index.ts
  libs/design-system/src/utils/cn.ts
Due: lint, format-code

feat(api-client): add http and websocket client
  libs/api-client/README.md
  libs/api-client/eslint.config.mjs
  libs/api-client/project.json
  libs/api-client/src/index.ts
  libs/api-client/src/lib/collaboration.client.ts
  libs/api-client/src/lib/config.ts
  libs/api-client/src/lib/http-client.test.ts
  libs/api-client/src/lib/http-client.ts
  libs/api-client/src/lib/notes.api.ts
  libs/api-client/src/lib/token-storage.ts
  libs/api-client/tsconfig.json
  libs/api-client/tsconfig.lib.json
  libs/api-client/tsconfig.spec.json
  libs/api-client/vite.config.ts
  libs/api-client/vitest.config.ts
Due: lint, format-code, format-other

feat(auth): add auth store and hooks
  libs/auth/eslint.config.mjs
  libs/auth/project.json
  libs/auth/src/api/auth.api.ts
  libs/auth/src/api/index.ts
  libs/auth/src/core/index.ts
  libs/auth/src/index.ts
  libs/auth/src/react/auth.hooks.ts
  libs/auth/src/react/auth.store.spec.ts
  libs/auth/src/react/auth.store.ts
  libs/auth/src/react/auth.store.types.ts
  libs/auth/src/react/index.ts
  libs/auth/tsconfig.json
  libs/auth/tsconfig.lib.json
  libs/auth/tsconfig.spec.json
  libs/auth/vite.config.ts
  libs/auth/vitest.config.mts
Due: lint, format-code, format-other

feat(data-access-notes): add notes query hooks
  libs/data-access/notes/project.json
  libs/data-access/notes/src/index.ts
  libs/data-access/notes/src/note.filters.ts
  libs/data-access/notes/src/notes.constants.ts
  libs/data-access/notes/src/notes.hooks.test.tsx
  libs/data-access/notes/src/notes.hooks.ts
  libs/data-access/notes/src/notes.store.test.ts
  libs/data-access/notes/src/notes.store.ts
  libs/data-access/notes/src/notes.store.types.ts
  libs/data-access/notes/tsconfig.json
  libs/data-access/notes/tsconfig.spec.json
  libs/data-access/notes/vite.config.ts
  libs/data-access/notes/vitest.config.ts
Due: lint, format-code, format-other

feat(api): add project configuration
  apps/api/.env.example
  apps/api/drizzle.config.ts
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/api/project.json
  apps/api/tsconfig.app.json
  apps/api/tsconfig.json
  apps/api/tsconfig.spec.json
  apps/api/vitest.config.ts
  apps/api/webpack.config.cjs
Due: lint, format-code, format-other

feat(api): add database schema and module
  apps/api/src/database/database.module.ts
  apps/api/src/database/index.ts
  apps/api/src/database/schema/index.ts
  apps/api/src/database/schema/notes.schema.ts
  apps/api/src/database/schema/sessions.schema.ts
  apps/api/src/database/schema/users.schema.ts
Due: lint, format-code

feat(api): add core infrastructure
  apps/api/src/adapters/index.ts
  apps/api/src/adapters/socket-io.adapter.ts
  apps/api/src/assets/.gitkeep
  apps/api/src/config/env.config.ts
  apps/api/src/config/index.ts
  apps/api/src/core/domain/events/domain-event.interface.ts
  apps/api/src/core/domain/events/index.ts
  apps/api/src/core/exceptions/domain.exceptions.ts
  apps/api/src/core/exceptions/index.ts
  apps/api/src/core/filters/http-exception.filter.ts
  apps/api/src/core/filters/index.ts
  apps/api/src/core/index.ts
  apps/api/src/core/interceptors/index.ts
  apps/api/src/core/interceptors/logging.interceptor.ts
  apps/api/src/core/logging/index.ts
  apps/api/src/core/logging/logger.service.ts
Due: lint, format-code

feat(api): add app module and bootstrap
  apps/api/src/app/app.controller.ts
  apps/api/src/app/app.module.ts
  apps/api/src/app/app.service.ts
  apps/api/src/main.ts
Due: lint, format-code

feat(api): add health module
  apps/api/src/modules/health/health.controller.ts
  apps/api/src/modules/health/health.module.ts
  apps/api/src/modules/health/index.ts
Due: lint, format-code

feat(api): add feature-flags module
  apps/api/src/modules/feature-flags/feature-flag.guard.ts
  apps/api/src/modules/feature-flags/feature-flags.module.ts
  apps/api/src/modules/feature-flags/feature-flags.service.ts
  apps/api/src/modules/feature-flags/index.ts
Due: lint, format-code

feat(api): add users module
  apps/api/src/modules/users/index.ts
  apps/api/src/modules/users/users.module.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.service.ts
Due: lint, format-code

feat(api): add auth module
  apps/api/src/modules/auth/application/handlers/index.ts
  apps/api/src/modules/auth/application/handlers/login-user.handler.ts
  apps/api/src/modules/auth/application/handlers/refresh-tokens.handler.ts
  apps/api/src/modules/auth/application/handlers/register-user.handler.ts
  apps/api/src/modules/auth/application/index.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/decorators/current-user.decorator.ts
  apps/api/src/modules/auth/decorators/index.ts
  apps/api/src/modules/auth/decorators/public.decorator.ts
  apps/api/src/modules/auth/domain/errors/auth.errors.ts
  apps/api/src/modules/auth/domain/errors/index.ts
  apps/api/src/modules/auth/domain/index.ts
  apps/api/src/modules/auth/domain/ports/index.ts
  apps/api/src/modules/auth/domain/ports/password-hasher.port.ts
  apps/api/src/modules/auth/domain/ports/token.service.ts
  apps/api/src/modules/auth/domain/ports/user.repository.ts
  apps/api/src/modules/auth/domain/value-objects/email.vo.ts
  apps/api/src/modules/auth/domain/value-objects/index.ts
  apps/api/src/modules/auth/domain/value-objects/password.vo.ts
  apps/api/src/modules/auth/domain/value-objects/user-id.vo.ts
  apps/api/src/modules/auth/dto/auth.dto.ts
  apps/api/src/modules/auth/dto/index.ts
  apps/api/src/modules/auth/guards/index.ts
  apps/api/src/modules/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/auth/guards/local-auth.guard.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/modules/auth/infrastructure/http/index.ts
  apps/api/src/modules/auth/infrastructure/http/result-to-response.ts
  apps/api/src/modules/auth/infrastructure/index.ts
  apps/api/src/modules/auth/infrastructure/persistence/drizzle-user.repository.ts
  apps/api/src/modules/auth/infrastructure/persistence/index.ts
  apps/api/src/modules/auth/infrastructure/security/bcrypt-password-hasher.ts
  apps/api/src/modules/auth/infrastructure/security/index.ts
  apps/api/src/modules/auth/infrastructure/security/jwt-token.service.ts
  apps/api/src/modules/auth/strategies/index.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.ts
  apps/api/src/modules/auth/strategies/local.strategy.ts
Due: lint, format-code

feat(api): add notes module
  apps/api/src/modules/notes/application/commands/create-note.handler.spec.ts
  apps/api/src/modules/notes/application/commands/create-note.handler.ts
  apps/api/src/modules/notes/application/commands/delete-note.handler.ts
  apps/api/src/modules/notes/application/commands/index.ts
  apps/api/src/modules/notes/application/commands/revoke-access.handler.ts
  apps/api/src/modules/notes/application/commands/share-note.handler.ts
  apps/api/src/modules/notes/application/commands/update-note.handler.spec.ts
  apps/api/src/modules/notes/application/commands/update-note.handler.ts
  apps/api/src/modules/notes/application/index.ts
  apps/api/src/modules/notes/application/queries/get-collaborators.handler.ts
  apps/api/src/modules/notes/application/queries/get-note.handler.ts
  apps/api/src/modules/notes/application/queries/get-notes.handler.ts
  apps/api/src/modules/notes/application/queries/index.ts
  apps/api/src/modules/notes/domain/entities/index.ts
  apps/api/src/modules/notes/domain/entities/note.entity.ts
  apps/api/src/modules/notes/domain/errors/index.ts
  apps/api/src/modules/notes/domain/errors/note.errors.ts
  apps/api/src/modules/notes/domain/events/index.ts
  apps/api/src/modules/notes/domain/events/note-created.event.ts
  apps/api/src/modules/notes/domain/events/note-updated.event.ts
  apps/api/src/modules/notes/domain/index.ts
  apps/api/src/modules/notes/domain/ports/index.ts
  apps/api/src/modules/notes/domain/ports/note-read.repository.ts
  apps/api/src/modules/notes/domain/ports/note-write.repository.ts
  apps/api/src/modules/notes/domain/ports/permission.repository.ts
  apps/api/src/modules/notes/domain/value-objects/index.ts
  apps/api/src/modules/notes/domain/value-objects/note-content.vo.spec.ts
  apps/api/src/modules/notes/domain/value-objects/note-content.vo.ts
  apps/api/src/modules/notes/domain/value-objects/note-title.vo.spec.ts
  apps/api/src/modules/notes/domain/value-objects/note-title.vo.ts
  apps/api/src/modules/notes/domain/value-objects/permission-level.vo.ts
  apps/api/src/modules/notes/dto/index.ts
  apps/api/src/modules/notes/dto/notes.dto.ts
  apps/api/src/modules/notes/index.ts
  apps/api/src/modules/notes/infrastructure/index.ts
  apps/api/src/modules/notes/infrastructure/persistence/drizzle-note.repository.ts
  apps/api/src/modules/notes/infrastructure/persistence/index.ts
  apps/api/src/modules/notes/notes.controller.ts
  apps/api/src/modules/notes/notes.module.ts
Due: lint, format-code

feat(api): add collaboration module
  apps/api/src/modules/collaboration/README.md
  apps/api/src/modules/collaboration/collaboration.gateway.ts
  apps/api/src/modules/collaboration/collaboration.module.ts
  apps/api/src/modules/collaboration/collaboration.service.ts
  apps/api/src/modules/collaboration/collaboration.types.ts
  apps/api/src/modules/collaboration/index.ts
  apps/api/src/modules/collaboration/ws-auth.service.ts
Due: lint, format-code, format-other

feat(notes): update project configuration
  apps/notes/.env.example
  apps/notes/README.md
  apps/notes/project.json
  apps/notes/tsconfig.app.json
  apps/notes/vite.config.ts
  apps/notes/vitest.config.ts
Due: lint, format-code, format-other

feat(notes): add auth components and pages
  apps/notes/src/components/auth/ProtectedRoute.tsx
  apps/notes/src/components/auth/PublicRoute.tsx
  apps/notes/src/components/auth/index.ts
  apps/notes/src/pages/LoginPage.tsx
  apps/notes/src/pages/RegisterPage.tsx
  apps/notes/src/routes/login.tsx
  apps/notes/src/routes/register.tsx
Due: lint, format-code

feat(notes): update collaborative editor
  apps/notes/src/components/editor/CollaborationIndicator.tsx
  apps/notes/src/components/editor/CollaborativeCursors.tsx
  apps/notes/src/components/editor/CollaborativeEditor.tsx
  apps/notes/src/components/editor/CollaborativeEditor.types.ts
  apps/notes/src/components/editor/EditorErrorBoundary.tsx
  apps/notes/src/components/editor/EditorToolbar.tsx
  apps/notes/src/components/editor/awareness.utils.ts
  apps/notes/src/components/editor/cursor-decorations.utils.ts
  apps/notes/src/components/editor/useEditorExtensions.ts
  apps/notes/src/hooks/useActiveCollaborators.ts
  apps/notes/src/hooks/useCollaborativeEditor.ts
  apps/notes/src/hooks/useWebSocketCollaboration.ts
  apps/notes/src/providers/YjsProvider.helpers.ts
  apps/notes/src/providers/YjsProvider.tsx
  apps/notes/src/providers/YjsProvider.types.ts
  apps/notes/src/types/collaboration.ts
Due: lint, format-code

feat(notes): update notes components
  apps/notes/src/components/notes/CreateNoteDialog.tsx
  apps/notes/src/components/notes/DeleteNoteDialog.tsx
  apps/notes/src/components/notes/NoteCard.tsx
  apps/notes/src/components/notes/NoteList.tsx
Due: lint, format-code

feat(notes): update layout components
  apps/notes/src/components/layout/Layout.tsx
  apps/notes/src/components/layout/Sidebar.tsx
  apps/notes/src/components/layout/SidebarUserFooter.tsx
Due: lint, format-code

feat(notes): update lib utilities
  apps/notes/src/lib/collaboration.constants.ts
  apps/notes/src/lib/collaboration.ts
  apps/notes/src/lib/constants.ts
  apps/notes/src/lib/date.ts
  apps/notes/src/lib/index.ts
  apps/notes/src/lib/text.ts
  apps/notes/src/lib/utils.ts
Due: lint, format-code

feat(notes): update routes and pages
  apps/notes/src/pages/NoteEditorPage.tsx
  apps/notes/src/pages/index.ts
  apps/notes/src/routeTree.gen.ts
  apps/notes/src/routes/__root.tsx
  apps/notes/src/routes/index.tsx
  apps/notes/src/routes/notes.$noteId.tsx
Due: lint, format-code

refactor(notes): cleanup deprecated files
  apps/notes/src/hooks/index.ts
  apps/notes/src/hooks/useFilteredNotes.ts
  apps/notes/src/stores/index.ts
Due: lint, format-code

docs: add architecture and deployment documentation
  apps/api/ARCHITECTURE.md
  apps/api/README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
Due: format-other

chore: add agent workflows
  .agent/workflows/nestjs-di-rules.md
  .claude/settings.json
Due: format-other

fix(hooks): disable nx daemon and enable stream output for pre-push tests
  lefthook.yml
Due: format-other

fix(ci): skip lefthook install in environments without git
  package.json
Due: format-other

fix(ci): use test:run to avoid watch mode in CI
  .github/workflows/ci.yml
Due: format-other

chore(docs): enhance deployment guide
  .gitignore
  docs/DEPLOYMENT.md
Due: format-other
